.clearfix{
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
body{
    margin: 0%;
    padding: 0%;
}

header{
    margin-bottom: 10px;
    padding: 10px;
}
.lfloat{
    float: left;
}
.rfloat{
    float:right;
}
header h1{
    font-size: 50px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header img{
    width: 15%;
}
header h2{
    font-size: 30px;

}
main{
    background-color: rgb(225, 255, 255);
    padding: 10px;
    background-image: url(/assets/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}